/* 
    Document   : main
    Created on : Nov 12, 2012, 12:37:16 AM
    Author     : ilfate
    Description:
        Purpose of the stylesheet follows.
*/

/*
main theme colors
  white #FFF0DD
  blue  #6062FF
  red   #FFB68A
  green #65B54C
  dark  #384541
*/

* {
  margin: 0px;
  padding: 0px;
}

body, html {
    font-family: arial,sans-serif;
    font-size: small;
}
body {
  padding-top: 60px;
  background: url('../images/dark-tile.png');
}


.main-content-well, .main-content-well-side {
  min-height: 700px;
}

.well, .navbar {
  background: url('../images/grid.png');
  box-shadow: 0 0 6px 0 #384541;
}

.clear{
    clear: both;
}

.table-centrated {}
.table-centrated th, .table-centrated td{
  text-align: center;
}

.page-header h1 {
	margin-left: 20px;
}

/****  Auth  *****/

.form-signin {
  margin: 0 auto;
  max-width: 300px;
}

.move-to-footer, .move-to-header {
  display: none;
}

/**** Alert ****/

.alert {
  background-color: #777777;
  border: 1px solid #FFB68A;
  color: #FFB68A;
  text-shadow: 0 1px 0 rgba(103, 98, 89, 0.5);
}
.alert .close {
  top: 2px;
}

.alert
{ 
    display: none;
}

/****  Main Page ****/

.hero-unit {
  padding: 35px;
}
.hero-unit h1 {
  font-size: 31px;
  margin: 0px;
}

/**** img ****/

.img-more-rounded {
  border-radius: 36px 36px 36px 36px;
}

/**** show-grid ****/
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}


/**** label-stars ****/
.label-stars { min-width: 72px; text-align: center; font-size: 100%; display: inline-block; -moz-box-sizing: content-box; box-sizing: content-box }

.before-stars { display:none; position: absolute; margin: 2px 0 0 0; min-width: 72px; -moz-box-sizing: content-box; box-sizing: content-box }

.container-stars:hover .before-stars{ display:inline-block; }
.container-stars { display:inline-block; }

.star{ float:left; width: 12.5%; padding-left: 12.5%; height: 16px; margin: -1px 0 0 0; -moz-box-sizing: content-box; box-sizing: content-box }
.under-star { background-color: #F89406; width: 18px; height: inherit; position: absolute; margin: 0 0 0 -9px; /* 9px = half image width */ }
.img-star { background-image: url('../images/star.png'); width: 18px; height: inherit; position: absolute; margin: 0 0 0 -9px; /* 9px = half image width */ }

/****  rounded_block  ****/

.rounded_block {
  width: 100%;
  height:100%;
  border-radius: 20px;
  box-shadow: 0px 5px 6px rgba(0,0,0,0.5);
  text-decoration: none !important;
  position: relative;
}
.rounded_block .text {
  width:100%;
  height:90px;
  line-height:90px;
  vertical-align: middle;
  text-align: center;
  font-size: 90px;
  color: inherit;
  position:absolute;
  margin:auto;
  top: 0px;
  bottom: 0px;
}
.rounded_block img {
  opacity: 0.2;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.rounded_block .back {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

a.rounded_block_link{
  text-decoration: none !important;
  color: #333333;
}

.rounded_block.mouse_down{
  box-shadow: inset 0px 5px 6px rgba(0,0,0,0.5);
}

/**** CV page ****/

.CVpage > .row { padding-left:9px; }
.like-h1 { line-height: 38px; margin: 10px; }
.cv-certificate { margin-right: 20px; }

/**** Sidebar ****/

.banner-title{ text-align: center; }


/**** photo-gallery ****/

.photo-gallery {margin: 0 auto; width:720px; visibility:hidden ;}
.photo-gallery .photo{ overflow: hidden; height: 170px; float:left; margin: 1px; }
.photo-gallery .photo img {}
#photoModal .modal-body {max-height: none; text-align: center;}

/**** loader ****/
.loader { width: 128px; height: 128px; background-image: url('../images/loading.gif'); margin: 0 auto;}

/***************************************************** ***************************/

.main-page-block{
	height: 270px;
	min-width:270px;
	max-width:270px;
}
.code-page-block {
	height: 200px;
	max-width: 700px;
	min-width: 580px;
}
.code-page-block .text {
	font-size: 60px;
}
.banner-block {
	height: 200px;
	max-width: 200px;
	min-width: 200px;
	margin: 0 auto;
}
.banner-block .text {
	font-size: 20px;
	line-height: 20px;
	height: 20px;
}


.ilfate-breadcrumb {
    margin: 7px 0px 0px 0px;
}


/**** ajax load ****/

.ajax_load{
  min-width: 150px;
  min-height: 150px;
/*  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;*/
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}