

.main-content-well, .main-content-well-side {
    min-height: 900px;
}

.clear {
    clear: both;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    -webkit-box-sizing: border-box;
}

.hand {
    position: relative;
    /*display: block;*/
    /*clear:both;*/
}
.hand, .field {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card {
    width: 185px;
    height: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    overflow: hidden;
}

.card .image {
    width:125px;
    height:125px;
    float:left;
}

.hand-card {
    float:left;
    margin: 5px;
    cursor: pointer;
}

.hand-card:hover {
    box-shadow: 0 6px 9px rgba(0,0,0,0.26);
    margin-top: 1px;
}
.hand-card.focus {
    box-shadow: 0 8px 11px rgba(0,0,0,0.26);
    margin-top: 0px;
    background-color: #EBEBA1;
}
.hand-card .name{
    text-align: center;
}
.hand-card .unit, .hand-card .spell {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.26);
    margin:2.5%;
    width:95%;
}
.hand-card.spell-only .info-unit {
    display: none;
}

.hand .skipTurn {
    float:left;
    margin: 5px;
    padding:10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    background-color: #069E2D;
    opacity: 0.6;
    cursor: pointer;
    color: #FFFFFF;
}
.hand .skipTurn:hover {
    box-shadow: 0 6px 9px rgba(0,0,0,0.26);
}

.order {
    position: relative;
    width:75px;
    clear: both;
}
.order .card {
    width:75px;
    height:75px;
    opacity: 0.7;
}
.order .card.focus, .order .card:hover, .order .card.hover {
    font-weight: bold;
    opacity: 1;
}

.field {
    width :601px;
    height: 601px;
    position: relative;
    display: block;
    clear:both;
    border-right: 1px solid rgba(0,0,0,0.26);
    border-bottom: 1px solid rgba(0,0,0,0.26);
    overflow: hidden;
}
.field .cell {
    /*margin: 1px;*/
    width:75px;
    height:75px;
    /*float:left;*/
    /*border: 1px solid #494949;*/
    /*border-radius: 3px;*/
    border-top: 1px solid rgba(0,0,0,0.26);
    border-left: 1px solid rgba(0,0,0,0.26);
    z-index: 10;
    position: absolute;
}

.field .cell.focus {
    cursor: pointer;
    background-color: #069E2D;
    opacity: 0.6;
}

.field-unit {
    width: 75px;
    height: 75px;
    position: absolute;
    text-align: center;
    z-index: 25;
}
.field-unit.focus, .field-unit:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.field-unit.enemy-focus .middle-panel, .field-unit.focus .middle-panel, .field-unit:hover .middle-panel, .field-unit.hover .middle-panel {
    display: block;
}
.field-unit.focus .health-panel, .field-unit:hover .health-panel {
    opacity: 0.9;
}

.field-unit.action {
    box-shadow: 0 8px 11px rgba(0,0,0,0.26);
}

.field-unit .skip {
    display: none;
    z-index:23;
    position: absolute;
}
.field-unit.focus .skip {
    display: inline;
}

.field-unit .middle-panel {
    width: 90%;
    text-align: center;
    color: #FFD416;
    background-color: #483018;
    position: absolute;

    bottom: 26px;
    left: 3px;

    opacity: 0.9;
    display: none;
    z-index:23;
}

.field-unit .health-panel {
    position: absolute;
    bottom: 3px;
    left: 3px;
    z-index: 30;
    color:#FFD416;
    background-color: #483018;
    opacity: 0.6;
}

.field-unit .damage {
    position: absolute;
    font-size: 40px;
    width: 100%;
    top:15px;
    text-align: center;
    color: red;
    font-weight: bold;
    z-index: 60;
}
.field-unit .damage.heal {
    color: green;
}
.field-unit .damage.armor {
    color: blue;
}

.field-unit .unit-info {
    left:75px;
    width:75px;
    height:75px;
    display: none;
    position: absolute;
    color:#FFD416;
    background-color: #483018;
    z-index:30;
}

.field-unit:hover .unit-info {
    display: block;
}

.field-unit .image {
    width: 75px;
    height: 75px;
    position: absolute;
    z-index:20;
}
.field-unit.enemy .image {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*.field-unit:before {*/
/*content: '';*/
/*}*/

.field-unit-attack-zone {
    position: absolute;
    display: none;
    border: solid 2px #FFD416;
    background-color: #FFD416;
    opacity: 0.5;
    overflow: hidden;
    z-index: 18;
}
.field-unit-attack-zone.not-hidden.show {
    display: block;
}

.field .object {
    width:75px;
    height:75px;
    position: absolute;
    z-index: 12;
}

.info-zone {

    width: 185px;
    height: 280px;
}

.info-zone .info-card {
    /*border: 1px solid #483018;*/
    /*background-color: #3E6990;*/

    padding: 3px;
    /*background-color: #483018;*/
    /*color: #FFD416;*/
    display: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}



.tcg-message {
    position: absolute;
    background-color: #FFD416;
    padding: 8px;
}
#message-container {
    position: relative;
}





.attack-type-1-1 {
    width:225px;
    height:225px;
    left:-75px;
    top:-75px;
}
.attack-type-1-2 {
    width:375px;
    height:375px;
    left:-150px;
    top:-150px;
}
.attack-type-1-3 {
    width:525px;
    height:525px;
    left:-225px;
    top:-225px;
}
.attack-type-2-1 {
    width:75px;
    height:75px;
    left:0px;
    top:-75px;
}
.attack-type-2-2 {
    width:75px;
    height:150px;
    left:0px;
    top:-150px;
}
.attack-type-2-3 {
    width:75px;
    height:225px;
    left:0px;
    top:-225px;
}
.enemy .attack-type-2-1, .enemy .attack-type-2-2, .enemy .attack-type-2-3 {
    top:75px;
}



 /* ---------------------- PAGES ------------------------------ */

.non-game-card {
    float:left;
    margin: 5px;
    width: 150px;
    height: 200px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
 }

.non-game-card:hover {
    box-shadow: 0 6px 9px rgba(0,0,0,0.26);
    margin-top: 1px;
}
.non-game-card.focus {
    box-shadow: 0 8px 11px rgba(0,0,0,0.26);
    margin-top: 0px;
    background-color: #EBEBA1; 
}